[user]
    email = quocnguyenx43@gmail.com
    name = quocnguyen

[github]
    user = quocnguyenx43

# ** COMP **
# [user]
#    email = alan@guardian.tech
#    name = alan

[init]
    defaultBranch = main

[color]
    ui = auto

[credential]
    helper = store
