[init]
    defaultBranch = main

[user]
    email = quocnguyenx43@gmail.com
    name = quocnguyen

[color]
    ui = auto

# ** COMP **
# [user]
#    email = alan@guardian.tech
#    name = alan

# ** COMP **
# [proxies]
#	 proxy = http://alan1:xe&UvMTrrEOiPhA7@10.5.33.2:6777
[credential]
	helper = store
