[init]
    defaultBranch = main

[user]
    email = quocnguyenx43@gmail.com
    name = quocnguyen

# ** COMP **
# [user]
#    email = alan@guardian.tech
#    name = alan

[color]
    ui = auto

[credential]
	helper = store
